<body class="global">
    <section class="header">
        <a routerLink="/"><img class="logo" src="assets\img\logo.png" alt=""></a>
        <ul>
            <li>
                <a routerLink="nerdCast">NerdCast</a>
            </li>
            <li>
                <a routerLink="nerdOffcer">NerdOffice</a>
            </li>
            <li>
                <a href="">NerdPlayer</a>
            </li>
            <li>
                <a href="">Mais</a>
            </li>
            <li>
                <a href="">Nerdstore</a>
            </li>
            <li>
                <a href="">Anuncie</a>
            </li>
        </ul>
        <div class="search">
            <input type="text" name="" placeholder="Ex: NC 500">
            <button>Buscar</button>
        </div>
    </section>

    <section class="nav-content">
        <nav class="nav-bar">
            <ul>
                <li><a class="nerdb" disable>NERDBUNKER <i style="vertical-align: middle;"
              class="material-icons">arrow_drop_down</i></a>
                    <ul>
                        <li><a class="dropdown dd1"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Filmes</a></li>
                        <li><a class="dropdown dd2"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Games</a></li>
                        <li><a class="dropdown dd3"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Séries e TV</a></li>
                        <li><a class="dropdown dd4"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Animes e Mangás</a></li>
                        <li><a class="dropdown dd5"><i style="vertical-align: middle;" class="material-icons">circle</i> HQs e
                Livros</a></li>
                    </ul>
                </li>
                <li class="other-itens"><a href="">Homem-Aranha</a></li>
                <li class="other-itens"><a href="">Elden Ring</a></li>
                <li class="other-itens"><a href="">Lá do Bunker</a></li>
                <li class="other-itens"><a href="">Duna</a></li>
                <li class="other-itens"><a href="">Round 6</a></li>
            </ul>
        </nav>
    </section>
</body>
