<body class="global">
    <main>

        <section class="body-content">

            <div class="title">
                <h1>NerdOfficer</h1>
                <div class="button">
                    <input type="text" placeholder="  Pesquise NerdCast...">
                    <button>Buscar</button>
                </div>
            </div>

            <section class="content-top">

                <div class="content-news1 n1">
                    <div class="card">
                        <img class="picture" src="assets\nerdOfficer\img1.jpg" alt=" imagem-cantando">
                        <div class="card-content">
                            <h4>NerdOffice S12E45</h4>
                            <a href="#">
                                <h3>
                                    Ghostbusters: Mais Além – Não pensa no Stay Puff que ele aparece! (Trailer Oficial)
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-news1">
                    <div class="card">
                        <img class="picture" src="assets\nerdOfficer\img2.jpg" alt="">
                        <div class="card-content">
                            <h4>NerdOffice S12E44</h4>
                            <a href="#">
                                <h3>
                                    Tiger King 2: Uma série de Tarantino! (Trailer Oficial)
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

            <section class="content-news2">
                <h1>Outros episódios</h1>
                <ul>
                    <section class="middle-content">

                        <div class="card">
                            <img src="assets\nerdOfficer\he-man.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4> NerdOffice S12E43</h4>
                                <a href="#">
                                    <h3>Trailer: He-Man é nosso lugar seguro!</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets\nerdOfficer\tv-face.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4>NerdOffice S12E42</h4>
                                <a href="#">
                                    <h3>Você está assistindo TV errado?</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets\nerdOfficer\joven-batman.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4>NerdOffice S12E41</h4>
                                <a href="#">
                                    <h3>The Batman: Vingança servida quente! (Trailer Oficial)</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets\nerdOfficer\league-nerd.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4>NerdOffice S12E39</h4>
                                <a href="#">
                                    <h3>Trailer League of Legends: Arcane – BUNITO demais!</h3>
                                </a>
                            </div>
                        </div>

                    </section>
                </ul>

            </section>

        </section>

    </main>

</body>
