<body class="global">
    <section class="header">
        <img class="logo" src="assets\img\logo.png" alt="">
        <ul>
            <li>
                <a href="">NerdCast</a>
            </li>
            <li>
                <a href="">NerdOffice</a>
            </li>
            <li>
                <a href="">NerdPlayer</a>
            </li>
            <li>
                <a href="">Mais</a>
            </li>
            <li>
                <a href="">Nerdstore</a>
            </li>
            <li>
                <a href="">Anuncie</a>
            </li>
        </ul>
        <div class="search">
            <input type="text" name="" placeholder="Ex: NC 500">
            <button>Buscar</button>
        </div>
    </section>

    <section class="nav-content">
        <nav class="nav-bar">
            <ul>
                <li><a class="nerdb" disable>NERDBUNKER <i style="vertical-align: middle;"
              class="material-icons">arrow_drop_down</i></a>
                    <ul>
                        <li><a class="dropdown dd1"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Filmes</a></li>
                        <li><a class="dropdown dd2"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Games</a></li>
                        <li><a class="dropdown dd3"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Séries e TV</a></li>
                        <li><a class="dropdown dd4"><i style="vertical-align: middle;" class="material-icons">circle</i>
                Animes e Mangás</a></li>
                        <li><a class="dropdown dd5"><i style="vertical-align: middle;" class="material-icons">circle</i> HQs e
                Livros</a></li>
                    </ul>
                </li>
                <li class="other-itens"><a href="">Homem-Aranha</a></li>
                <li class="other-itens"><a href="">Elden Ring</a></li>
                <li class="other-itens"><a href="">Lá do Bunker</a></li>
                <li class="other-itens"><a href="">Duna</a></li>
                <li class="other-itens"><a href="">Round 6</a></li>
            </ul>
        </nav>
    </section>

    <main>
        <section class="body-content">
            <section class="content-top">

                <div class="content-news1 n1">

                    <div class="card">
                        <img class="picture" src="assets\warnner-image-news\jogo-de-luta.jpg" alt="">
                        <div class="card-content">
                            <h4>O MEME É REAL</h4>
                            <h3>
                                Warner anuncia MultVersus, jogos de luta gratuito com Arya Stark, Batman, Salsicha e mais
                            </h3>
                        </div>
                    </div>

                </div>

                <div class="content-news1">

                    <div class="card">
                        <img class="picture" src="assets\sony-image-news\playstation.jpg" alt="">
                        <div class="card-content">
                            <h4>AUMENTO DE VALOR</h4>
                            <h3>
                                Sony confirma reajuste de preço do PlayStation 5 no Brasil
                            </h3>
                        </div>
                    </div>

                </div>

            </section>

            <section class="content-news2">
                <ul>
                    <li>
                        <h2>Frases Marcantes de Filmes e Séries em 2021</h2>
                    </li>
                    <section class="middle-content">

                        <div class="card middlecard1">
                            <img src="assets\img\news1.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4>HISTÓRIA SENSÍVEL</h4>
                                <h3>Tamo Junto é uma animação brasileira sobre a pandemia</h3>
                            </div>
                        </div>

                        <div class="card middlecard2">
                            <img src="assets\img\news2.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4>PAPEL NÃO FOI CONFIRMADO</h4>
                                <h3>Delroy Lindo entra para o elenco de Blade</h3>
                            </div>
                        </div>

                        <div class="card middlecard3">
                            <img src="assets\img\news3.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4>POTÊNCIA CINEMATOGRÁFICA</h4>
                                <h3>Você sabe o que é Nollywood?</h3>
                            </div>
                        </div>

                        <div class="card middlecard4">
                            <img src="assets\img\news4.jpg" alt="imagem-noticia">
                            <div class="card-content">
                                <h4 style="color: rgb(157, 81, 228);">PURA FOFURA</h4>
                                <h3>Assista ao especial de Cowboy Bebop com erros de gravação do Ein
                                </h3>
                            </div>
                        </div>

                    </section>
                </ul>

            </section>

        </section>

    </main>
</body>
