<body class="global">

    <main>

        <section class="body-content">

            <div class="title">
                <h1>NerdPlayer</h1>
                <div class="button">
                    <input type="text" placeholder="  Pesquise NerdCast...">
                    <button>Buscar</button>
                </div>
            </div>

            <section class="content-top">

                <div class="content-news1 n1">
                    <div class="card">
                        <img class="picture" src="assets\nerdPlayer\moving.jpg" alt=" imagem-cantando">
                        <div class="card-content">
                            <h4>NerdPlayer 547</h4>
                            <a href="#">
                                <h3>
                                    Moving Out – Se não quer que as coisas quebrem, não se mude!
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-news1">
                    <div class="card">
                        <img class="picture" src="assets\nerdPlayer\fps.jpg" alt=" imagem-cantando">
                        <div class="card-content">
                            <h4>NerdPlayer 546</h4>
                            <a href="#">
                                <h3>
                                    Battlefield 2042 – Noobs de Pijama
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

            <section class="content-news2">
                <h1>Outros episódios</h1>
                <ul>
                    <section class="middle-content">

                        <div class="card">
                            <img class="picture" src="assets\nerdPlayer\guardians.jpeg" alt=" imagem-cantando">
                            <div class="card-content">
                                <h4> NerdPlayer 545</h4>
                                <a href="">
                                    <h3>Guardians of the Galaxy – A Balada dos Endividados</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="picture" src="assets\nerdPlayer\hades.jpg" alt=" imagem-cantando">
                            <div class="card-content">
                                <h4>NerdPlayer 544</h4>
                                <a href="#">
                                    <h3>Hades – Jogo de jovem!</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="picture" src="assets\nerdPlayer\twMinutes.jpg" alt=" imagem-cantando">
                            <div class="card-content">
                                <h4>NerdPlayer 543</h4>
                                <a href="#">
                                    <h3>Twelve Minutes – Casos de Família PESADOS</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="picture" src="assets\nerdPlayer\dbd.jpg" alt=" imagem-cantando">
                            <div class="card-content">
                                <h4>NerdPlayer 542</h4>
                                <a href="#">
                                    <h3>Dead by Daylight – Antes só do que mal pendurado</h3>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="picture" src="assets\nerdPlayer\starve.jpg" alt=" imagem-cantando">
                            <div class="card-content">
                                <h4>
                                    NerdPlayer 541</h4>
                                <a href="#">
                                    <h3>Don’t Starve Together – Treta de fantasma</h3>
                                </a>
                            </div>

                        </div>
                        <div class="card">
                            <img class="picture" src="assets\nerdPlayer\b4blood.jpg" alt=" imagem-cantando">
                            <div class="card-content">
                                <h4>NerdPlayer 540</h4>
                                <a href="#">
                                    <h3>Back 4 Blood – Todo Noob Quase Morto</h3>
                                </a>
                            </div>
                        </div>

                    </section>
                </ul>

            </section>

        </section>

    </main>

</body>
